<web-app>
<servlet>
<servlet-name>LU</servlet-name>
<servlet-class>LoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LU</servlet-name>
<url-pattern>/LU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SP</servlet-name>
<servlet-class>StudentPage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SP</servlet-name>
<url-pattern>/SP</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ALU</servlet-name>
<servlet-class>AdminLoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ALU</servlet-name>
<url-pattern>/ALU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ASD</servlet-name>
<servlet-class>AddStudentDetail</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ASD</servlet-name>
<url-pattern>/ASD</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AS</servlet-name>
<servlet-class>ArchiveStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AS</servlet-name>
<url-pattern>/AS</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TLU</servlet-name>
<servlet-class>TeacherLoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TLU</servlet-name>
<url-pattern>/TLU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TP</servlet-name>
<servlet-class>TeacherPage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TP</servlet-name>
<url-pattern>/TP</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>TP2</servlet-name>
<servlet-class>TeacherPage2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TP2</servlet-name>
<url-pattern>/TP2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MLU</servlet-name>
<servlet-class>MentorLoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MLU</servlet-name>
<url-pattern>/MLU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CLU</servlet-name>
<servlet-class>COELoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CLU</servlet-name>
<url-pattern>/CLU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HLU</servlet-name>
<servlet-class>HODLoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HLU</servlet-name>
<url-pattern>/HLU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CILU</servlet-name>
<servlet-class>ClassInchargeLoginUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CILU</servlet-name>
<url-pattern>/CILU</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MP</servlet-name>
<servlet-class>MentorPage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MP</servlet-name>
<url-pattern>/MP</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CIP</servlet-name>
<servlet-class>ClassInchargePage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CIP</servlet-name>
<url-pattern>/CIP</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HP</servlet-name>
<servlet-class>HODPage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HP</servlet-name>
<url-pattern>/HP</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AP</servlet-name>
<servlet-class>ArrearPublish</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AP</servlet-name>
<url-pattern>/AP</url-pattern>
</servlet-mapping>

</web-app>